---
export interface Props {
    title: string;
}
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body class="bg-slate-900 text-slate-400 h-screen">
    <div class="flex-block max-w-6xl p-2 md:pd-3 mx-auto mt-3">
        <div class="bg-white shadow rounded-lg p-1">
            <slot />
        </div>
    </div>
</body>
</html>